1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [8]:
i = 1
while i < 101:
    if (i%3) ==0 and (i%5) == 0:
        print('MickeyMouse')
    if (i%3) == 0 and (i%5)!= 0:
        print('Mickey')
    if (i%3) != 0 and (i%5) == 0:
        print('Mouse')
    else: print(i)
    i += 1

1
2
Mickey
3
4
Mouse
Mickey
6
7
8
Mickey
9
Mouse
11
Mickey
12
13
14
MickeyMouse
15
16
17
Mickey
18
19
Mouse
Mickey
21
22
23
Mickey
24
Mouse
26
Mickey
27
28
29
MickeyMouse
30
31
32
Mickey
33
34
Mouse
Mickey
36
37
38
Mickey
39
Mouse
41
Mickey
42
43
44
MickeyMouse
45
46
47
Mickey
48
49
Mouse
Mickey
51
52
53
Mickey
54
Mouse
56
Mickey
57
58
59
MickeyMouse
60
61
62
Mickey
63
64
Mouse
Mickey
66
67
68
Mickey
69
Mouse
71
Mickey
72
73
74
MickeyMouse
75
76
77
Mickey
78
79
Mouse
Mickey
81
82
83
Mickey
84
Mouse
86
Mickey
87
88
89
MickeyMouse
90
91
92
Mickey
93
94
Mouse
Mickey
96
97
98
Mickey
99
Mouse

In [3]:
i = 1
a = ()

while i < 101:
    if (i%3) ==0 and (i%5) == 0:
         a = a+ ("DonaldDuck",)
    if (i%3) == 0 and (i%5)!= 0:
         a = a+ ("Donald",)
    if (i%3) != 0 and (i%5) == 0:
        a = a + ("Duck",)
    else: 
        a = a + (i,)
    i += 1
print(a)

(1, 2, 'Donald', 3, 4, 'Duck', 'Donald', 6, 7, 8, 'Donald', 9, 'Duck', 11, 'Donald', 12, 13, 14, 'DonaldDuck', 15, 16, 17, 'Donald', 18, 19, 'Duck', 'Donald', 21, 22, 23, 'Donald', 24, 'Duck', 26, 'Donald', 27, 28, 29, 'DonaldDuck', 30, 31, 32, 'Donald', 33, 34, 'Duck', 'Donald', 36, 37, 38, 'Donald', 39, 'Duck', 41, 'Donald', 42, 43, 44, 'DonaldDuck', 45, 46, 47, 'Donald', 48, 49, 'Duck', 'Donald', 51, 52, 53, 'Donald', 54, 'Duck', 56, 'Donald', 57, 58, 59, 'DonaldDuck', 60, 61, 62, 'Donald', 63, 64, 'Duck', 'Donald', 66, 67, 68, 'Donald', 69, 'Duck', 71, 'Donald', 72, 73, 74, 'DonaldDuck', 75, 76, 77, 'Donald', 78, 79, 'Duck', 'Donald', 81, 82, 83, 'Donald', 84, 'Duck', 86, 'Donald', 87, 88, 89, 'DonaldDuck', 90, 91, 92, 'Donald', 93, 94, 'Duck', 'Donald', 96, 97, 98, 'Donald', 99, 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [4]:
def swap(x,y):
    x, y = y, x
    return x,y

swap(10,2)

(2, 10)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [6]:
from numpy import sqrt
def distance(a,b):
    distance = sqrt((a[0]+b[0])**2+(a[1]+b[1])**2)
    return distance

u = (3,0)
v = (0,4)
distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [8]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [14]:
s = s.lower()
for i in s:
    a = s.count(i)
    s = s.replace(i, "")
    print(i, a)

SyntaxError: name 's' is used prior to global declaration (730998481.py, line 5)

''

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [27]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
lcount = []
for i in l:
    a = l.count(i)
    if a == 1:
        lcount.append(i)
print(len(l))
print(len(lcount))

80
37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [29]:
def square(a):
    return a*a
def cube(a):
    return a*a*a

def sixth(a):
    return square(cube(a))

square(2)
cube(2)
sixth(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [33]:
list_a = []
list_b = []
for i in range(11):
    list_a.append(cube(i))
print(list_a)

list_b = [cube(i) for i in range(11)]
print(list_b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [46]:
tuple4 = ()
for i in range(101):
    for j in range(i,101):
        a = sqrt(i**2 + j**2)
        if a - int(a) == 0:
            if i!=0 and j!=0 and a<101:
                print(i,j, a)
                tuple4 = tuple4 + (i,j,a)
print(tuple4)

3 4 5.0
5 12 13.0
6 8 10.0
7 24 25.0
8 15 17.0
9 12 15.0
9 40 41.0
10 24 26.0
11 60 61.0
12 16 20.0
12 35 37.0
13 84 85.0
14 48 50.0
15 20 25.0
15 36 39.0
16 30 34.0
16 63 65.0
18 24 30.0
18 80 82.0
20 21 29.0
20 48 52.0
21 28 35.0
21 72 75.0
24 32 40.0
24 45 51.0
24 70 74.0
25 60 65.0
27 36 45.0
28 45 53.0
28 96 100.0
30 40 50.0
30 72 78.0
32 60 68.0
33 44 55.0
33 56 65.0
35 84 91.0
36 48 60.0
36 77 85.0
39 52 65.0
39 80 89.0
40 42 58.0
40 75 85.0
42 56 70.0
45 60 75.0
48 55 73.0
48 64 80.0
51 68 85.0
54 72 90.0
57 76 95.0
60 63 87.0
60 80 100.0
65 72 97.0
(3, 4, 5.0, 5, 12, 13.0, 6, 8, 10.0, 7, 24, 25.0, 8, 15, 17.0, 9, 12, 15.0, 9, 40, 41.0, 10, 24, 26.0, 11, 60, 61.0, 12, 16, 20.0, 12, 35, 37.0, 13, 84, 85.0, 14, 48, 50.0, 15, 20, 25.0, 15, 36, 39.0, 16, 30, 34.0, 16, 63, 65.0, 18, 24, 30.0, 18, 80, 82.0, 20, 21, 29.0, 20, 48, 52.0, 21, 28, 35.0, 21, 72, 75.0, 24, 32, 40.0, 24, 45, 51.0, 24, 70, 74.0, 25, 60, 65.0, 27, 36, 45.0, 28, 45, 53.0, 28, 96, 100.0, 30, 40, 50.0, 30, 72, 78.0, 32, 60, 68.0, 33, 44, 55.0, 33, 56, 65.0, 35, 84, 91.0, 36, 48, 60.0, 36, 77, 85.0, 39, 52, 65.0, 39, 80, 89.0, 40, 42, 58.0, 40, 75, 85.0, 42, 56, 70.0, 45, 60, 75.0, 48, 55, 73.0, 48, 64, 80.0, 51, 68, 85.0, 54, 72, 90.0, 57, 76, 95.0, 60, 63, 87.0, 60, 80, 100.0, 65, 72, 97.0)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [12]:
from numpy import sqrt
def normalization(a):
    ran = len(a) 
    buffer = 0
    list_out = []
    for i in range(0,ran):
        f = a[i]**2
        buffer = buffer + int(f)
    norma = sqrt(buffer)
    vec_out = ()
    for i in range(ran):
        item = a[i]/norma
        vec_out = vec_out + (str(item),)
    return vec_out


vettore = (0,0,0,1)
vettore2 = (2,3,4,5)
vettore3 = (3,4)
normalization(vettore)
normalization(vettore3)

('0.6', '0.8')