1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [3]:
i = 1
while i < 101:
    if (i%3) ==0 and (i%5) == 0:
        print('MickeyMouse')
    elif (i%3) == 0:# and (i%5)!= 0:
        print('Mickey')
    elif (i%5) == 0:
        print('Mouse')
    else: print(i)
    i += 1

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [7]:
i = 1
a = ()

while i < 101:
    if (i%3) ==0 and (i%5) == 0:
         a = a+ ("DonaldDuck",)
    elif (i%3) == 0:
         a = a+ ("Donald",)
    elif (i%5) == 0:
        a = a + ("Duck",)
    else: 
        a = a + (i,)
    i += 1
print(a)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [16]:
a = 10
b = 5

def swap(x,y):
    x, y = y, x
    return x,y

swap(a,b)
print(a,b)

10 5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [17]:
from numpy import sqrt
def distance(a,b):
    distance = sqrt((a[0]+b[0])**2+(a[1]+b[1])**2)
    return distance

u = (3,0)
v = (0,4)
distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [9]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [10]:
s = s.lower()
#s = sorted(s)
#print(s)
chr_freq = []
for i in s:
    a = s.count(i)
    s = s.replace(i, "")
    item = str(i)+str(' is ')+str(a)
    if a!=0:
        chr_freq.append(item)
chr_freq

['w is 2',
 'r is 17',
 'i is 14',
 't is 19',
 'e is 22',
 '  is 41',
 'a is 7',
 'p is 8',
 'o is 13',
 'g is 1',
 'm is 12',
 'h is 9',
 'n is 10',
 's is 9',
 'u is 9',
 'b is 5',
 'f is 10',
 '1 is 2',
 '0 is 2',
 '. is 2',
 'l is 6',
 'c is 3',
 'k is 2',
 'y is 2',
 'd is 3',
 'v is 2']

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [47]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
lcount = []
for i in l:
    a = l.count(i)
    if a == 1:
        lcount.append(i)
print(len(l))
print(len(lcount))

80
37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [49]:
def square(a):
    return a*a #pow(a,2)
def cube(a):
    return pow(a,3)#a*a*a# pow(a,3)

def sixth(a):
    return square(cube(a))

print(square(2))
print(cube(2))
sixth(2)

4
8

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [33]:
list_a = []
list_b = []
for i in range(11):
    list_a.append(cube(i))
print(list_a)

list_b = [cube(i) for i in range(11)]
print(list_b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [50]:
tuple4 = ()
for i in range(100): ##NOT IN LIST COMPREHENSION; SEE CELL BELOW
    for j in range(i,100):
        a = sqrt(i**2 + j**2)
        if a - int(a) == 0:
            if i!=0 and j!=0 and a<100:
                print(i,j, a)
                tuple4 = tuple4 + (i,j,a)
print(tuple4)

3 4 5.0
5 12 13.0
6 8 10.0
7 24 25.0
8 15 17.0
9 12 15.0
9 40 41.0
10 24 26.0
11 60 61.0
12 16 20.0
12 35 37.0
13 84 85.0
14 48 50.0
15 20 25.0
15 36 39.0
16 30 34.0
16 63 65.0
18 24 30.0
18 80 82.0
20 21 29.0
20 48 52.0
21 28 35.0
21 72 75.0
24 32 40.0
24 45 51.0
24 70 74.0
25 60 65.0
27 36 45.0
28 45 53.0
30 40 50.0
30 72 78.0
32 60 68.0
33 44 55.0
33 56 65.0
35 84 91.0
36 48 60.0
36 77 85.0
39 52 65.0
39 80 89.0
40 42 58.0
40 75 85.0
42 56 70.0
45 60 75.0
48 55 73.0
48 64 80.0
51 68 85.0
54 72 90.0
57 76 95.0
60 63 87.0
65 72 97.0
(3, 4, 5.0, 5, 12, 13.0, 6, 8, 10.0, 7, 24, 25.0, 8, 15, 17.0, 9, 12, 15.0, 9, 40, 41.0, 10, 24, 26.0, 11, 60, 61.0, 12, 16, 20.0, 12, 35, 37.0, 13, 84, 85.0, 14, 48, 50.0, 15, 20, 25.0, 15, 36, 39.0, 16, 30, 34.0, 16, 63, 65.0, 18, 24, 30.0, 18, 80, 82.0, 20, 21, 29.0, 20, 48, 52.0, 21, 28, 35.0, 21, 72, 75.0, 24, 32, 40.0, 24, 45, 51.0, 24, 70, 74.0, 25, 60, 65.0, 27, 36, 45.0, 28, 45, 53.0, 30, 40, 50.0, 30, 72, 78.0, 32, 60, 68.0, 33, 44, 55.0, 33, 56, 65.0, 35, 84, 91.0, 36, 48, 60.0, 36, 77, 85.0, 39, 52, 65.0, 39, 80, 89.0, 40, 42, 58.0, 40, 75, 85.0, 42, 56, 70.0, 45, 60, 75.0, 48, 55, 73.0, 48, 64, 80.0, 51, 68, 85.0, 54, 72, 90.0, 57, 76, 95.0, 60, 63, 87.0, 65, 72, 97.0)

In [52]:
triples = [(a,b,c) for a in range(1,100) for b in range(a, 100) for c in range(b, 100) if a**2 + b**2 == c**2]
print(triples)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [53]:
from numpy import sqrt
def normalization(a):
    ran = len(a) 
    buffer = 0
    list_out = []
    for i in range(0,ran):
        f = a[i]**2
        buffer = buffer + int(f)
    norma = sqrt(buffer)
    vec_out = ()
    for i in range(ran):
        item = a[i]/norma
        vec_out = vec_out + (str(item),)
    return vec_out


vettore = (0,0,0,1)
vettore2 = (2,3,4,5)
vettore3 = (3,4)
normalization(vettore)
normalization(vettore2)

('0.2721655269759087',
 '0.408248290463863',
 '0.5443310539518174',
 '0.6804138174397717')