## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [1]:
# If you didn't download it yet, please get the relevant file now!
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P /home/gigi/LaboratoryOfComputationalPhysics_Y7/students/

--2024-11-28 08:50:52--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.69.18, 2620:100:6025:18::a27d:4512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.69.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://www.dropbox.com/scl/fi/pkkpoxlm7beasryexpdf8/data_000637.txt?rlkey=rkm2em1v57hewglzelmin21c9 [following]
--2024-11-28 08:50:53--  https://www.dropbox.com/scl/fi/pkkpoxlm7beasryexpdf8/data_000637.txt?rlkey=rkm2em1v57hewglzelmin21c9
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc38af4ddafd63ee1ff094bfbbf7.dl.dropboxusercontent.com/cd/0/inline/CfNBdYy6bI29P_PMFXzZ6FV6Y1hux8jMoBe88h-mTiPcxHvwXP091uA3FAtjIs99GaG0bNYbe5gppldDFocdOjUK4q_bmoClANSbgBTXDw6_idBIUHeKW7XHPKgyfvqekiM/file# [following]
--2024-11-28 08:50:53--  https://uc38af4ddafd63ee1ff094bfbbf7.dl.dropboxusercontent.com/cd/0/inline/CfNBdYy6bI29P_PMFXzZ6FV6Y1hux8jMoBe88h-mTiPcxHvwXP091uA3FAtjIs99GaG0bNYbe5gppldDFocdOjUK4q_bmoClANSbgBTXDw6_idBIUHeKW7XHPKgyfvqekiM/file
Resolving uc38af4ddafd63ee1ff094bfbbf7.dl.dropboxusercontent.com (uc38af4ddafd63ee1ff094bfbbf7.dl.dropboxusercontent.com)... 162.125.69.15, 2620:100:6025:15::a27d:450f
Connecting to uc38af4ddafd63ee1ff094bfbbf7.dl.dropboxusercontent.com (uc38af4ddafd63ee1ff094bfbbf7.dl.dropboxusercontent.com)|162.125.69.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: ‘/home/gigi/LaboratoryOfComputationalPhysics_Y7/students/data_000637.txt’

data_000637.txt     100%[===================>]  31.64M  20.2MB/s    in 1.6s

2024-11-28 08:50:56 (20.2 MB/s) - ‘/home/gigi/LaboratoryOfComputationalPhysics_Y7/students/data_000637.txt’ saved [33179236/33179236]

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

# 1

In [1]:
import fireducks.pandas as pd
import numpy.random as npr

In [2]:
data=pd.read_csv('./students/data_000637.txt')
df_lenght = int(data.shape[0]/4)
df = data.head(df_lenght)

## 2

In [3]:
x = df.BX_COUNTER.max()
x

3563

## 3

In [4]:
orbit_counts = df.ORBIT_CNT.nunique()
orbit_counts

time = orbit_counts*x*25e-9
time

0.291898775

## 4

In [6]:
df.ORBIT_CNT[0]

3869200167

In [9]:
df['ABS_TIME'] = (df.ORBIT_CNT-df.ORBIT_CNT[0])*3563*25e-9 + df.BX_COUNTER*25e-9 + df.TDC_MEAS*(25e-9/30)

In [10]:
df

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,ABS_TIME
0,1,0,123,3869200167,2374,26,0.000059
1,1,0,124,3869200167,2374,27,0.000059
2,1,0,63,3869200167,2553,28,0.000064
3,1,0,64,3869200167,2558,19,0.000064
4,1,0,64,3869200167,2760,25,0.000069
...,...,...,...,...,...,...,...
327675,1,0,60,3869203446,127,6,0.292080
327676,1,0,61,3869203446,382,1,0.292086
327677,1,0,58,3869203446,683,25,0.292094
327678,1,0,57,3869203446,686,16,0.292094
327679,1,0,53,3869203446,3465,27,0.292164

## 5

In [23]:
df['HEAD'] = npr.choice([0,1], size= len(df))

In [24]:
df

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,ABS_TIME
0,0,0,123,3869200167,2374,26,0.000059
1,1,0,124,3869200167,2374,27,0.000059
2,1,0,63,3869200167,2553,28,0.000064
3,1,0,64,3869200167,2558,19,0.000064
4,0,0,64,3869200167,2760,25,0.000069
...,...,...,...,...,...,...,...
327675,0,0,60,3869203446,127,6,0.292080
327676,1,0,61,3869203446,382,1,0.292086
327677,1,0,58,3869203446,683,25,0.292094
327678,0,0,57,3869203446,686,16,0.292094
327679,0,0,53,3869203446,3465,27,0.292164

## 6

In [25]:
df_headone = df.query('HEAD == 1')

In [27]:
df_headone

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,ABS_TIME
1,1,0,124,3869200167,2374,27,0.000059
2,1,0,63,3869200167,2553,28,0.000064
3,1,0,64,3869200167,2558,19,0.000064
5,1,0,63,3869200167,2762,4,0.000069
6,1,0,61,3869200167,2772,14,0.000069
...,...,...,...,...,...,...,...
327670,1,0,57,3869203446,123,2,0.292080
327671,1,0,139,3869203446,131,0,0.292080
327672,1,0,58,3869203446,125,0,0.292080
327676,1,0,61,3869203446,382,1,0.292086
327677,1,0,58,3869203446,683,25,0.292094

## 7 

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

In [6]:
FPGA1 = df.query('FPGA == 1')
FPGA0 = df.query('FPGA == 0')

plt.imshow(FPGA0['TDC_CHANNEL', ])

2